timm==0.9.8
objprint==0.2.3
accelerate==0.18.0
torch
tensorboard
easydict
SimpleITK
monai
itk
pydicom
pylibjpeg
pylibjpeg-libjpeg
pylibjpeg-openjpeg
nibabel
pyyaml
opencv-python
openpyxl
tqdm
termcolor
scikit-learn
scikit-image
pandas
einops
ninja
transformers
matplotlib